<!DOCTYPE html>
<html>
<head>
  <title>Franken</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function() {
      $j("#text2").hide();
      $j("#show").click(function () {
        if ($j("#text2").is(':visible')) {
          $j("#text2").hide("slow");
        } else {
        $j("#text2").show("slow");
        }
      });
    });
  </script>
</head>
<body>
<div id="header">
    <%= image_tag("logo.gif") %>
    <div id="user_bar">
       <%= link_to "Home", root_path %> |
       <%= link_to "Users list", list_users_path %> |
       <%= link_to "Messages list", messages_path %>
    </div>
  </div>
<div id="main">
  <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
  <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
  <%= yield %>
  <div align="right"><div id="show">Hints</div></div>
 
    <p align="center" id="text2"><br />tchat gatling f 23<br />a? cocody <br />21 29<br />21 29 cocody<br />ada? first message</p>
  </div>
  
  <div id="footer">
    FRANKEN
  </div>
</body>
</html>
